<!-- Validation failure messages -->
<% if @project.errors.any? %>
  <% @project.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Project #<%= @project.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_project/<%= @project.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @project.name %>">
      </div>

      <!-- Label and input for location_id -->
      <div class="form-group">
        <label for="location_id" class="control-label">
          Location
        </label>

        <%= select_tag(:location_id, options_from_collection_for_select(Location.all, :id, :neighborhood, @project.location_id), :class => "form-control") %>
      </div>

      <!-- Label and input for day_id -->
      <div class="form-group">
        <label for="day_id" class="control-label">
          Day
        </label>

        <%= select_tag(:day_id, options_from_collection_for_select(Day.all, :id, :day, @project.day_id), :class => "form-control") %>
      </div>

      <!-- Label and input for description -->
      <div class="form-group">
        <label for="description" class="control-label">
          Description
        </label>

        <input type="text" id="description" name="description" placeholder="Description" class="form-control" value="<%= @project.description %>">
      </div>

      <!-- Label and input for number_of_volunteers_required -->
      <div class="form-group">
        <label for="number_of_volunteers_required" class="control-label">
          Number of volunteers required
        </label>

        <input type="text" id="number_of_volunteers_required" name="number_of_volunteers_required" placeholder="Number of volunteers required" class="form-control" value="<%= @project.number_of_volunteers_required %>">
      </div>

      
      

      <button class="btn btn-warning">
        Update Project
      </button>
      or
      <a href="/projects/<%= @project.id %>">Cancel</a>
    </form>
  </div>
</div>
