<div class="page-header">
  <h3>Project #<%= @project.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @project.name %></dd>

      <dt>Location</dt>
      <dd><%= @project.location_id %></dd>

      <dt>Day</dt>
      <dd><%= @project.day_id %></dd>

      <dt>Description</dt>
      <dd><%= @project.description %></dd>

      <dt>Number of volunteers required</dt>
      <dd><%= @project.number_of_volunteers_required %></dd>

      <dt>Organization</dt>
      <dd><%= @project.organization_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/projects" class="btn btn-primary">
        Back
      </a>
      <a href="/projects/<%= @project.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_project/<%= @project.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
