<div class="page-header">
  <h3>Organization #<%= @organization.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Email</dt>
      <dd><%= @organization.email %></dd>

      <dt>Password</dt>
      <dd><%= @organization.password %></dd>

      <dt>Name</dt>
      <dd><%= @organization.name %></dd>

      <dt>Description</dt>
      <dd><%= @organization.description %></dd>

      <dt>Website</dt>
      <dd><%= @organization.website %></dd>

      <dt>Location</dt>
      <dd><%= @organization.location %></dd>

      <dt>Organization logo</dt>
      <dd><%= @organization.organization_logo %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/organizations" class="btn btn-primary">
        Back
      </a>
    </div>
  </div>
</div>

<!-- A Organization has many projects -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Projects
      </li>

      <% @organization.projects.each do |project| %>
        <li class="list-group-item">
          <a href="/projects/<%= project.id %>">
            <%= project.name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/projects/<%= project.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <%if current_user == project.organization %>
              <a href="/projects/<%= project.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>
              <a href="/delete_project/<%= project.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
